{% extends 'AdminBundle::layout.html.twig' %}

{% block title %}{% trans %}Modificar Testimonio{% endtrans %}{% endblock %}

{% block content %}
    <div class="portlet box yellow">
        <div class="portlet-title">
            <div class="caption"><i class="icon-list"></i>{% trans %}Actualizar Testimonio{% endtrans %}</div>
            <div class="tools">
                <a href="javascript:;" class="collapse"></a>
                <a href="#portlet-config" data-toggle="modal" class="config"></a>
                <a href="javascript:;" class="reload"></a>
                <a href="javascript:;" class="remove"></a>
            </div>
        </div>
        <div class="portlet-body">
            <div class="clearfix">
                <div class="btn-group">
                    <a href="{{ path('config_testimonial') }}" class="btn green">
                        {% trans %}Volver al listado{% endtrans %}
                    </a>
                </div>
                <div class="btn-group pull-right">
                    {{ form(delete_form) }}
                </div>
            </div>
            {{ form(edit_form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        {% for flashMessage in app.session.flashbag.get('notice') %}
        Codes.showMessage('Información', '{{ flashMessage  }}');
        {% endfor %}
    </script>
{% endblock %}
